.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  height: 72px;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 24px;
  font-weight: 500;
}
